n8n-ollama-workflow.json
{
  "name": "Ollama AI Chat Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ollama-chat"
    },
    {
      "parameters": {
        "url": "http://foundation-sec-ai:11434/api/chat",
        "authentication": "none",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"tinyllama\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message || 'Hello' }}\"\n    }\n  ],\n  \"stream\": false\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ollama-request",
      "name": "Ollama API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract the AI response from Ollama API\nconst response = $input.first().json;\n\n// Format the response for return\nconst aiMessage = response.message?.content || 'No response from AI';\nconst model = response.model || 'unknown';\n\nreturn {\n  success: true,\n  ai_response: aiMessage,\n  model_used: model,\n  timestamp: new Date().toISOString(),\n  original_message: $('Webhook').first().json.body?.message || 'No message provided'\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ollama API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama API Request": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "UTC"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ollama-chat-workflow",
  "tags": [
    {
      "createdAt": "2025-08-21T18:00:00.000Z",
      "updatedAt": "2025-08-21T18:00:00.000Z",
      "id": "ai-integration",
      "name": "AI Integration"
    }
  ]
}